.card {
  width: 400px;
  height: 560px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;

  opacity: 0;
  transform: scale(0);

  animation-name: card-show-anim;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes card-show-anim {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.coverImage {
  width: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  z-index: -1;

  box-shadow: 0 0px 20px 6px rgb(34, 31, 31);
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-4%) rotateX(22deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);

  filter: grayscale(100%) blur(12px);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.1s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  position: absolute;
  width: 100vw;
  text-align: center;
  transition: 0.3s;
  color: rgb(219, 218, 218);
  text-shadow: 0 1px 8px rgb(207, 207, 207);
  bottom: 0px;
  font-size: 0px;
  opacity: 0;
}
.card:hover .title {
  font-size: 40px;
  opacity: 1;
  bottom: 30px;
}

.character {
  filter: grayscale(100%);
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -40%, 100px);
}
