.simulator {
  width: 100vw;
  height: 100vh;

  animation-name: simulatorAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  background-color: aliceblue;
}

@keyframes simulatorAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.simulutorHidden {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: simulatorHiddenAnim;
}

@keyframes simulatorHiddenAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
