.ctaButton {
  padding-left: 8px;
  padding-right: 8px;

  padding-bottom: 5px;
  padding-top: 5px;

  transition: 0.3s;

  border-color: #ffa700;
  background-color: #ffa700;
  color: rgba(189, 95, 40, 0.877);
}

.ctaButton:hover {
  color: rgb(44, 44, 44);
}

.pressed {
  animation-name: pressed-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes pressed-animation {
  0% {
  }
  30% {
    transform: scale(0.6);
    opacity: 1;
    background-color: black;
  }
  100% {
    background-color: black;
    transform: scale(1.4);
    opacity: 0;
    color: wheat;
  }
}
