.masterLeague {
  width: 100vw;
  height: 100vh;

  animation-name: masterLeagueAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  background-color: aliceblue;
}

@keyframes masterLeagueAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
